.back-img {
  filter: blur(30px);
  height: 120vh;
  width: 120vw;
}

.about-card1 {
  border: 1px solid var(--c1);
  box-shadow: -5px 5px 30px rgba(0, 0, 0, 0.3333333333);
}
.about-card1:hover {
  box-shadow: -5px 5px 30px rgba(0, 0, 0, 0.6666666667);
  background-color: var(--c1);
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1333333333));
  color: var(--c4);
}

.contact-card {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}
.contact-card:hover {
  color: var(--c2);
}

.heading {
  position: relative;
  font-weight: bold;
  text-shadow: -2px 2px 5px #000;
  margin-top: 5vh;
}
.heading::before {
  height: 5px;
  width: 50px;
  content: "";
  border-radius: 30px;
  position: absolute;
  bottom: -10px;
  left: 0;
  background-image: linear-gradient(to left, var(--c3), var(--c1));
  box-shadow: -2px 2px 5px #000;
}

.transform-header {
  top: -20px;
  left: -0.5vw;
}

.app-progress-bar {
  height: 18px;
}
.app-progress-bar > div {
  width: 0%;
  background-image: linear-gradient(to left, var(--c1), var(--c2));
  transition: 1s ease-out;
  opacity: 0;
}
.app-progress-bar.scrolled > div {
  width: var(--progress);
  opacity: 1;
}

.change-border {
  width: 80%;
  height: 2px;
}
@media (min-width: 768px) {
  .change-border {
    width: 2px;
    height: 80%;
  }
}

.app-btn1 {
  display: inline-block;
  padding: 0.5em 2em;
  border: 2px solid var(--c1);
  border-radius: 30px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8666666667), -2px -2px 5px rgba(255, 255, 255, 0.6666666667);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.3333333333);
  color: inherit;
}
.app-btn1 .arrow {
  opacity: 0;
}

.app-btn1:hover {
  background-color: var(--c1);
  color: var(--c4);
}
.app-btn1:hover .arrow {
  opacity: 1;
  transform: translateX(5px);
}

.page {
  width: 100%;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transform: translate(0, 30vh);
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0s;
}
.page.show {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0);
  transition: 0.5s ease-out;
}

#home .hero {
  height: 85vh;
}
#home .hero .hero-img {
  height: clamp(280px, 40vw, (50vh + 50vw) / 2.3);
  width: clamp(280px, 40vw, (50vh + 50vw) / 2.3);
}
@media (max-width: 600px) {
  #home .hero .hero-img {
    height: clamp(230px, 40vw, (50vh + 50vw) / 2.3);
    width: clamp(230px, 40vw, (50vh + 50vw) / 2.3);
  }
}

#contact .contact-yellow {
  box-shadow: 3px 3px 70px rgba(0, 0, 0, 0.4);
}

#portfolio .portfolio-card {
  height: calc((50vh + 400px + 10vw) / 2.5);
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8666666667), -2px -2px 5px rgba(255, 255, 255, 0.6666666667);
}
#portfolio .portfolio-card > div {
  height: 100%;
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
}
#portfolio .portfolio-card .middle {
  border: 1px solid var(--c1);
}
#portfolio .portfolio-card .front {
  border: 1px solid var(--c2);
}
#portfolio .portfolio-card .main-content .content {
  background-image: linear-gradient(to top, #000, rgba(0, 0, 0, 0.0666666667));
}
#portfolio .portfolio-card .main-content .content > div {
  transform: translateY(4.2em);
}
#portfolio .portfolio-card:hover {
  box-shadow: none;
}
#portfolio .portfolio-card:hover .back {
  transform: translate(-15px, 15px) scale(1.05);
}
#portfolio .portfolio-card:hover .middle {
  transform: translate(-10px, -10px);
}
#portfolio .portfolio-card:hover .front {
  transform: translate(10px, 10px);
}
#portfolio .portfolio-card:hover .main-content {
  box-shadow: 3px 3px 30px #000000;
}
#portfolio .portfolio-card:hover .main-content .content > div {
  transform: translateY(0em);
}

#post .post-main {
  min-height: 60vh;
}

.page-cover {
  transition: all 0s !important;
  z-index: 11;
}
.page-cover .page-cover-main {
  height: 20px;
  width: 20px;
  top: -10px;
  left: -10px;
}
.page-cover .page-cover-main.animate {
  transform: scale(200);
}

.post-small-img {
  height: min(50vh, 280px);
}/*# sourceMappingURL=main.css.map */